.field-list {

}

.field-list .field-item {
    background: #fff;
    margin: 0 0 30px;
    padding: 20px;
    transition: all 0.3s linear;
}

.field-list .field-item:hover {
    background: #286090;
    transition: all 0.3s linear;
}

.field-list .code,
.field-list .title {
    text-align: center;
}

.field-list .code {
    font-size: 2em;
    margin-bottom: 10px;
}

.field-list .field-item:hover .code > span {
    background: #fff;
    color: #337ab7;
    transition: all 0.3s linear;
}

.field-list .code > span {
    background: #337ab7;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    padding: 20px;
    transition: all 0.3s linear;
}

.field-list .field-item:hover .title {
    color: #fff;
}

.field-list .title {
    font-size: 1.2em;
}